<h2> <%= @user.name %> </h2>

<p>We want to thank you for your contributions and time with the team. Your efforts have been appreciated, and we’re grateful for the role you’ve played during your time here.

At this time, your access to the team has been removed. If you believe this change was made in error, or if you have any questions regarding your account or access, please don’t hesitate to reach out to us.

We wish you the best in your future endeavors.

Thank you again for your time and contributions.

Best regards,
The Ideathon Organizer Team</p>